@{
    var description = "Giovanni Modica's blog about technology";
}

<!doctype html>
<html lang="en-us">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link type="application/rsd+xml" rel="edituri" title="RSD" href="~/views/robots/rsd" />
    <link type="application/rss+xml" rel="alternate" title="@Blog.Title" href="~/feed/rss/" />
    <link type="application/atom+xml" rel="alternate" title="@Blog.Title" href="~/feed/atom/" />

    <link rel="stylesheet" href="@Blog.FingerPrint("/css/bootstrap-3.0.0.css", "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Blog.FingerPrint("/themes/" + Blog.Theme + "/site.css")" />
    <link rel="dns-prefetch" href="http://gravatar.com/" />

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Blog.FingerPrint("/apple-touch-icon-144x144-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Blog.FingerPrint("/apple-touch-icon-114x114-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Blog.FingerPrint("/apple-touch-icon-72x72-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" href="@Blog.FingerPrint("/apple-touch-icon-precomposed.png")">
    <link rel="shortcut icon" href="@Blog.FingerPrint("/favicon.ico")" type="image/x-icon" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="&#64;giovannimodica">
    <meta name="twitter:domain" content="giovannimodica.com">
    <meta name="twitter:creator" content="&#64;giovannimodica">
    <meta name="twitter:title" content="Giovanni Modica's Web Site">
    <meta name="twitter:description" content="@description">
    <meta name="twitter:image" content="http://giovannimodica.com/Content/images/profilePhoto.jpg">

    <!-- Windows -->
    <meta name="application-name" content="@Blog.Title" />


    @AdminCss()

    <!-- Facebook Open Graph-->
    <meta property="og:title" content="@Page.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@(Request.Url.Scheme +"://" + Request.Url.Authority + Request.RawUrl)" />
    <meta property="og:image" content="http://giovannimodica.com/Content/images/profilePhoto.jpg" />
    <meta property="og:site_name" content="@Blog.Title" />
    <meta property="og:description" content="@description" />
</head>
<body itemscope itemtype="http://schema.org/Blog" class="@(User.Identity.IsAuthenticated ? "admin": null)">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    @if (!User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://giovannimodica.com/Home"><img src="http://giovannimodica.com/Content/images/gmodica.png" alt="Giovanni Modica" style="height: 18px; width: 120px" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://giovannimodica.com/Home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li><a href="http://giovannimodica.com/Resume"><span class="glyphicon glyphicon-file"></span> Resume</a></li>
                    <li class="active"><a href="~/"><span class="glyphicon glyphicon-book"></span> Blog</a></li>
                    <li><a href="http://giovannimodica.com/Personal"><i class="glyphicon glyphicon-user"></i> Personal</a></li>
                    <li><a target="_blank" href="http://about.me/giovannimodica"><i class="glyphicon glyphicon-user"></i> About Me</a></li>
                    <li><a href="mailto:giovanni.modica@gmail.com"><i class="glyphicon glyphicon-envelope"></i> Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    }

    <div class="container">
        <header role="banner">
            <span itemprop="name"><a href="~/" itemprop="url">@Blog.Title</a></span><br />
            <em>By Giovanni Modica</em>
        </header>

        <div role="main" class="col-md-9">
            @RenderBody()

            @if (Page.ShowPaging != null)
            {
                <ul class="pager">
                    @if (Blog.GetPosts(Blog.PostsPerPage * 2).Count() > Blog.PostsPerPage)
                    {
                        <li class="previous"><a href="@Blog.GetPagingUrl(1)" rel="prev">&larr; Older</a></li>
                    }

                    @if (Blog.CurrentPage > 1)
                    {
                        <li class="next"><a href="@Blog.GetPagingUrl(-1)" rel="next">Newer &rarr;</a></li>
                    }
                </ul>
            }
        </div>

        <aside role="complementary" class="col-md-3">
            <section>
                <h3>About me</h3>
                <p><img class="img-circle photo pull-left" alt="Giovanni Modica's photo" src="~/square.jpg" /> I'm a passionate developer, expert in C# and .Net technology. I love challenges, puzzles and difficult things. When not working or programming I enjoy doing sports, watching movies and hanging out with friends. I enjoy good food, especially trying out new stuff.</p>
            </section>

            <section>
                <p><a href="~/feed/rss/"><img class="rss" src="~/images/rss.png" alt="RSS icon"/></a> <a href="~/feed/rss/">RSS feed</a></p>
            </section>

            <section>
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-tags pull-right"></span> Tag Cloud</div>
                    <div class="panel-body">
                        @TagCloud()
                    </div>
                </div>
            </section>
        </aside>
    </div>

    <footer class="text-center hidden-print" role="contentinfo" itemscope itemtype="http://schema.org/Person" itemprop="author">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <span class="pull-left">
                        blog engine thanks to <a target="_blank" href="http://madskristensen.net">Mads Kristensen's</a> <a target="_blank" href="https://github.com/madskristensen/miniblog">MiniBlog</a>
                    </span>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <span class="text-center">Copyright &copy; 2013 Giovanni Modica</span>
                </div>
                <div class="col-xs-6 col-sm-4">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <span class="pull-right">
                            <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Request.RawUrl">Sign in <i class="glyphicon glyphicon-lock"></i></a>
                        </span>
                    }
                </div>
            </div>
        </div>
    </footer>


    @if ((Blog.CurrentPost != null && Blog.CurrentPost.AreCommentsOpen(Context)) || Blog.IsNewPost)
    {
        <script src="@Blog.FingerPrint("/scripts/comments.js")" async defer></script>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @RenderPage("~/views/AdminMenu.cshtml")
    }

    <script src="~/scripts/jquery-2.0.2.js"></script>

    <script src="~/syntaxhighlighter/scripts/shCore.js"></script>
    <script src="~/syntaxhighlighter/scripts/shAutoloader.js"></script>

    <script type="text/javascript">
        function path() {
            var args = arguments,
                result = []
            ;

            for (var i = 0; i < args.length; i++)
                result.push(args[i].replace('@@', '/syntaxhighlighter/scripts/'));

            return result
        };

        SyntaxHighlighter.autoloader.apply(null, path(
          'cpp c                  @@shBrushCpp.js',
          'c# c-sharp csharp      @@shBrushCSharp.js',
          'css                    @@shBrushCss.js',
          'java                   @@shBrushJava.js',
          'js jscript javascript  @@shBrushJScript.js',
          'text plain             @@shBrushPlain.js',
          'sql                    @@shBrushSql.js',
          'vb vbnet               @@shBrushVb.js',
          'xml xhtml xslt html    @@shBrushXml.js'
        ));
        SyntaxHighlighter.all();
    </script>

    <link href="~/syntaxhighlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/syntaxhighlighter/styles/shCoreDefault.css" rel="stylesheet" />

    <script src="~/scripts/jquery.tagcloud.js"></script>

    <script type="text/javascript">
        $.fn.tagcloud.defaults = {
            size: { start: 8, end: 20, unit: 'pt' },
            color: { start: '#333', end: '#000' }
        };

        $(function () {
            $('#tagcloud a').tagcloud();
        });

    </script>

    <!-- Tweeter -->
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

    <!-- Google -->
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    <!-- LinkedIn -->
    <script src="//platform.linkedin.com/in.js" type="text/javascript">
       lang: en_US
    </script>
</body>

</html>

@helper AdminCss()
{
    if (User.Identity.IsAuthenticated)
    {
        <link href="@Blog.FingerPrint("/css/admin.css")" rel="stylesheet" />
    }
}

@helper TagCloud()
{
    Dictionary<string, int> tags = Blog.GetTagCloud();
    
    <div id="tagcloud">
        @foreach (string tag in tags.Keys)
        {
            string path = String.Concat("/?category=", tag);
            int weight = tags[tag];

            <a class="btn btn-default btn-xs" href="@path" rel="@weight">@tag</a>
        }
    </div>

}