
<article class="post" data-id="@Model.ID" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header class="jumbotron" id="@Model.Slug">
        <h1 itemprop="headline name">
            <a href="@Model.Url" itemprop="url">@Model.Title</a>
        </h1>
        <div>
            <abbr title="@Model.PubDate.ToLocalTime()" itemprop="datePublished">@Model.PubDate.ToLocalTime().ToString("MMMM d. yyyy")</abbr>
            <a href="@Model.Url#comments">
                <em class="glyphicon glyphicon-comment"></em>
                @Model.Comments.Count Comments
            </a>
            @Categories()
        </div>
    </header>

    <div itemprop="articleBody">@Html.Raw(Model.Content)</div>

    @if (Blog.CurrentPost != null)
    {
        <section id="comments" aria-label="Comments">
            @if (Model.Comments.Count > 0)
            {
                <h2>Comments</h2>
            }

            @foreach (Comment comment in Model.Comments)
            {
                @RenderPage("Comment.cshtml", comment)
            }
        </section>

        if (Model.AreCommentsOpen(Context))
        {
            @RenderPage("~/views/CommentForm.cshtml")
        }
    }
    else 
    {
        <footer class="hidden-print"><p style="text-align: right"><a href="#top">Go to top</a> <span class="glyphicon glyphicon-chevron-up"></span></p></footer>
    }

    @ShareButtons()

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Blog - Per Article -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-6362180614800053"
         data-ad-slot="1540674444"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</article>

@helper Categories()
{
    if (Model.Categories.Length > 0)
    {
        <ul class="categories">
            <li><em class="glyphicon glyphicon-bookmark"></em> Posted in: </li>
            @foreach (string cat in Model.Categories)
            {
                <li itemprop="articleSection">
                    <a href="~/category/@HttpUtility.UrlEncode(cat.ToLowerInvariant())">@cat</a>
                </li>
            }
        </ul>
    }
}

@helper ShareButtons()
{
    string postUrl = string.Format("{0}://{1}{2}", (Request.IsSecureConnection) ? "https" : "http", Request.Headers["Host"], VirtualPathUtility.ToAbsolute(Model.Url.ToString()));
    string hashtags = Model.Categories.Length > 0 ? "#" + String.Join(" #", Model.Categories) : "";

    <div class="hidden-print">
        <!-- Twitter - Begin -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="@postUrl" data-text="@Model.Title @hashtags" data-via="giovannimodica">Tweet</a>
        <!-- Twitter - End -->
        <!-- LinkedIn - Begin -->
        <span style="margin-right: 20px">
            <script type="IN/Share" data-url="@postUrl" data-counter="right"></script>
        </span>
        <!-- LinkedIn - End -->
        <!-- Google - Begin -->
        <div class="g-plusone" data-annotation="bubble" data-href="@postUrl" data-size="medium"></div>
        <div class="g-plus" data-action="share" data-annotation="bubble" data-href="@postUrl" data-height="20"></div>
        <!-- Google - End -->
    </div>
}

